# Ignore system files
.DS_Store
Thumbs.db

# Ignore Node.js modules
node_modules/

# Ignore VSCode settings
.vscode/
*.log

# Ignore build directories
dist/
build/

# Ignore Python cache
__pycache__/
*.pyc
